.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo-box h2 {
  color: orange;
  font-size: 26px;
  margin: 0;
  font-weight: 700;
}

.logo-box span {
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
  color: #ccc;
  margin-top: 2px;
}

/* MENU */
.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: orange;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: orange;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo-box h2 {
  color: orange;
  margin: 0;
  font-size: 24px;
}

.logo-box span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #ccc;
}

/* MENU */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: orange;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: black;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    gap: 20px;
  }

  .nav-links.active {
    display: flex;
  }
}


/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}